Hangman_Server/HangmanServerLibrary/Connected Services/HangmanReference/HangmanService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="HangmanService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:64520/HangmanService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:64520/HangmanService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:64520/HangmanService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Hangman_Server.Model" />
      <xsd:import schemaLocation="http://localhost:64520/HangmanService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/" />
      <xsd:import schemaLocation="http://localhost:64520/HangmanService.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IHangmanService_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IHangmanService_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="IHangmanService_RegisterPlayer_InputMessage">
    <wsdl:part name="parameters" element="tns:RegisterPlayer" />
  </wsdl:message>
  <wsdl:message name="IHangmanService_RegisterPlayer_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterPlayerResponse" />
  </wsdl:message>
  <wsdl:message name="IHangmanService_UpdatePlayerProfile_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePlayerProfile" />
  </wsdl:message>
  <wsdl:message name="IHangmanService_UpdatePlayerProfile_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePlayerProfileResponse" />
  </wsdl:message>
  <wsdl:message name="IHangmanService_GetPlayerStats_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPlayerStats" />
  </wsdl:message>
  <wsdl:message name="IHangmanService_GetPlayerStats_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPlayerStatsResponse" />
  </wsdl:message>
  <wsdl:message name="IHangmanService_EmailExiste_InputMessage">
    <wsdl:part name="parameters" element="tns:EmailExiste" />
  </wsdl:message>
  <wsdl:message name="IHangmanService_EmailExiste_OutputMessage">
    <wsdl:part name="parameters" element="tns:EmailExisteResponse" />
  </wsdl:message>
  <wsdl:message name="IHangmanService_PhoneNumberExiste_InputMessage">
    <wsdl:part name="parameters" element="tns:PhoneNumberExiste" />
  </wsdl:message>
  <wsdl:message name="IHangmanService_PhoneNumberExiste_OutputMessage">
    <wsdl:part name="parameters" element="tns:PhoneNumberExisteResponse" />
  </wsdl:message>
  <wsdl:message name="IHangmanService_UsernameExiste_InputMessage">
    <wsdl:part name="parameters" element="tns:UsernameExiste" />
  </wsdl:message>
  <wsdl:message name="IHangmanService_UsernameExiste_OutputMessage">
    <wsdl:part name="parameters" element="tns:UsernameExisteResponse" />
  </wsdl:message>
  <wsdl:message name="IHangmanService_NicknameExiste_InputMessage">
    <wsdl:part name="parameters" element="tns:NicknameExiste" />
  </wsdl:message>
  <wsdl:message name="IHangmanService_NicknameExiste_OutputMessage">
    <wsdl:part name="parameters" element="tns:NicknameExisteResponse" />
  </wsdl:message>
  <wsdl:message name="IHangmanService_Logout_InputMessage">
    <wsdl:part name="parameters" element="tns:Logout" />
  </wsdl:message>
  <wsdl:message name="IHangmanService_Logout_OutputMessage">
    <wsdl:part name="parameters" element="tns:LogoutResponse" />
  </wsdl:message>
  <wsdl:message name="IHangmanService_ObtenerHistorialPartidas_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerHistorialPartidas" />
  </wsdl:message>
  <wsdl:message name="IHangmanService_ObtenerHistorialPartidas_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerHistorialPartidasResponse" />
  </wsdl:message>
  <wsdl:portType name="IHangmanService">
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/IHangmanService/Login" message="tns:IHangmanService_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHangmanService/LoginResponse" message="tns:IHangmanService_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RegisterPlayer">
      <wsdl:input wsaw:Action="http://tempuri.org/IHangmanService/RegisterPlayer" message="tns:IHangmanService_RegisterPlayer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHangmanService/RegisterPlayerResponse" message="tns:IHangmanService_RegisterPlayer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdatePlayerProfile">
      <wsdl:input wsaw:Action="http://tempuri.org/IHangmanService/UpdatePlayerProfile" message="tns:IHangmanService_UpdatePlayerProfile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHangmanService/UpdatePlayerProfileResponse" message="tns:IHangmanService_UpdatePlayerProfile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPlayerStats">
      <wsdl:input wsaw:Action="http://tempuri.org/IHangmanService/GetPlayerStats" message="tns:IHangmanService_GetPlayerStats_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHangmanService/GetPlayerStatsResponse" message="tns:IHangmanService_GetPlayerStats_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EmailExiste">
      <wsdl:input wsaw:Action="http://tempuri.org/IHangmanService/EmailExiste" message="tns:IHangmanService_EmailExiste_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHangmanService/EmailExisteResponse" message="tns:IHangmanService_EmailExiste_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PhoneNumberExiste">
      <wsdl:input wsaw:Action="http://tempuri.org/IHangmanService/PhoneNumberExiste" message="tns:IHangmanService_PhoneNumberExiste_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHangmanService/PhoneNumberExisteResponse" message="tns:IHangmanService_PhoneNumberExiste_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UsernameExiste">
      <wsdl:input wsaw:Action="http://tempuri.org/IHangmanService/UsernameExiste" message="tns:IHangmanService_UsernameExiste_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHangmanService/UsernameExisteResponse" message="tns:IHangmanService_UsernameExiste_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="NicknameExiste">
      <wsdl:input wsaw:Action="http://tempuri.org/IHangmanService/NicknameExiste" message="tns:IHangmanService_NicknameExiste_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHangmanService/NicknameExisteResponse" message="tns:IHangmanService_NicknameExiste_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Logout">
      <wsdl:input wsaw:Action="http://tempuri.org/IHangmanService/Logout" message="tns:IHangmanService_Logout_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHangmanService/LogoutResponse" message="tns:IHangmanService_Logout_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerHistorialPartidas">
      <wsdl:input wsaw:Action="http://tempuri.org/IHangmanService/ObtenerHistorialPartidas" message="tns:IHangmanService_ObtenerHistorialPartidas_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHangmanService/ObtenerHistorialPartidasResponse" message="tns:IHangmanService_ObtenerHistorialPartidas_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IHangmanService" type="tns:IHangmanService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/IHangmanService/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegisterPlayer">
      <soap:operation soapAction="http://tempuri.org/IHangmanService/RegisterPlayer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdatePlayerProfile">
      <soap:operation soapAction="http://tempuri.org/IHangmanService/UpdatePlayerProfile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPlayerStats">
      <soap:operation soapAction="http://tempuri.org/IHangmanService/GetPlayerStats" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EmailExiste">
      <soap:operation soapAction="http://tempuri.org/IHangmanService/EmailExiste" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PhoneNumberExiste">
      <soap:operation soapAction="http://tempuri.org/IHangmanService/PhoneNumberExiste" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UsernameExiste">
      <soap:operation soapAction="http://tempuri.org/IHangmanService/UsernameExiste" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NicknameExiste">
      <soap:operation soapAction="http://tempuri.org/IHangmanService/NicknameExiste" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Logout">
      <soap:operation soapAction="http://tempuri.org/IHangmanService/Logout" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerHistorialPartidas">
      <soap:operation soapAction="http://tempuri.org/IHangmanService/ObtenerHistorialPartidas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="HangmanService">
    <wsdl:port name="BasicHttpBinding_IHangmanService" binding="tns:BasicHttpBinding_IHangmanService">
      <soap:address location="http://localhost:64520/HangmanService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>