Hangman_Server/HangmanServerLibrary/Connected Services/GameServiceReference/GameService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:64520/GameService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Hangman_Server.Model.DTO" />
  <xs:element name="ProbarConexion">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ProbarConexionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ProbarConexionResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistrarPartidaInconclusa">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="salaId" type="xs:int" />
        <xs:element minOccurs="0" name="idChallenger" type="xs:int" />
        <xs:element minOccurs="0" name="idGuesser" type="xs:int" />
        <xs:element minOccurs="0" name="idPalabra" type="xs:int" />
        <xs:element minOccurs="0" name="idDesconectado" type="xs:int" />
        <xs:element minOccurs="0" name="codigoSala" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistrarPartidaInconclusaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistrarPartidaFinalizada">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="salaId" type="xs:int" />
        <xs:element minOccurs="0" name="idChallenger" type="xs:int" />
        <xs:element minOccurs="0" name="idGuesser" type="xs:int" />
        <xs:element minOccurs="0" name="idPalabra" type="xs:int" />
        <xs:element minOccurs="0" name="idDesconectado" type="xs:int" />
        <xs:element minOccurs="0" name="codigoSala" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistrarPartidaFinalizadaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerPalabrasPorCategoria">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="categoria" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idLenguaje" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerPalabrasPorCategoriaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Hangman_Server.Model.DTO" minOccurs="0" name="ObtenerPalabrasPorCategoriaResult" nillable="true" type="q1:ArrayOfWordDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerCategorias">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idLenguaje" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerCategoriasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Hangman_Server.Model.DTO" minOccurs="0" name="ObtenerCategoriasResult" nillable="true" type="q2:ArrayOfCategoryDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>